{% extends "english/base.html" %}
{% block header %}
Hi {{user_nickname}},
{% endblock %}
{% block content %}
<p>
    Your password has been changed on {{datetime}} and these are the data of the device where the change was made:
</p>
<p>
    {{source}}
</p>
<p>
    If it was you, everything is correct, and you can safely delete this email.
</p>
<br/>
<p>
    Otherwise, click on the following link to change your password immediately:
</p>
<p>
    <b><i><a href="{{WEB_UI_PATH}}/reset-password?user_id={{user_id}}&token={{user_reset_password_token_token}}">Reset your password</a></i></b>
</p>
{% endblock %}
