{% extends "spanish/base.html" %}
{% block header %}
Hola {{user_nickname}},
{% endblock %}
{% block content %}
<p>
    Tu contraseña ha sido cambiada el {{datetime}} y estos son los datos del dispositivo donde se hizo el cambio:
</p>
<p>
    {{source}}
</p>
<p>
    Si has sido tú, todo está correcto y puedes borrar tranquilamente este correo.
</p>
<br/>
<p>
    De lo contrario, ingresa en el siguiente enlace para hacer el cambio de tu contraseña inmediatamente:
</p>
<p>
    <b><i><a href="{{WEB_UI_PATH}}/reset-password?user_id={{user_id}}&token={{user_reset_password_token_token}}">Restablezca su contraseña</a></i></b>
</p>
{% endblock %}
